# helyi titkos adatok
secrets.json
secret.json
tokens.json
models/
release/

# IDE-specifikus
.vs/
.idea/
*.swp
*.sln.iml

# Visual Studio / MSBuild cache
*.FileListAbsolute.txt
*.userprefs
*.psess
*.vsp
*.vspx
*.sap
*.pdb

# Logs és cache
*.log
*.tlog
*.cache
*.tmp
*.bak
*.dbmdl

_pycache__/
*.py[cod]
*$py.class

# Virtuális környezetek
.venv/
venv/
env/
ENV/
